/*background colors pulled from original wordle app*/

:root {
    --lightestGreen: hsl(71, 85%, 40%);
    --lightGreen: hsl(73, 84%, 37%);
    --darkGreen: hsl(120, 34%, 29%);
    --darkestGreen: hsl(120, 58%, 14%);
}

*, *::after, *::before{
    box-sizing: border-box;
    font-family: Helvetica;
}

body {
    /*background-color: hsl(240, 3%, 7%);*/
    background-color: var(--lightGreen);

    display: flex;
    flex-direction: column;

    font-size: clamp(.5rem, 2.5vmin, 1.5rem);

    margin: 0;
    min-height: 100vh;
    padding: 1em;
}

/*Grid*/

.guess-grid {
    display: grid;

    align-content: center;
    justify-content: center;

    flex-grow: 1;
    gap: 0.25em;
    grid-template-columns: repeat(5, 4em);
    grid-template-rows: repeat(6, 4em);
    margin-bottom: 1em;
}

/*Tile*/

.tile {
    /*border: 0.05em solid hsl(240, 2%, 23%);*/
    /*color: white;*/

    border: 0.07em solid var(--darkestGreen);
    color: var(--darkestGreen);

    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;

    display: flex;

    justify-content: center;
    align-items: center;
    user-select: none;
}

.tile[data-state="active"] {
    /*border-color: hsl(200, 1%, 34%);*/

    border-color: var(--darkGreen);
    color: var(--darkGreen);
}

.tile[data-state="wrong"] {
    /*background-color: hsl(240, 2%,3%);*/
    border: none;

    background-color: var(--darkestGreen);
    color: var(--lightGreen);
}

.tile[data-state="wrong-location"] {
    /*background-color: hsl(49, 51%, 47%);*/
    border: none;

    background-color: var(--darkGreen);
    color:var(--lightestGreen);
}

.tile[data-state="correct"] {
    /*background-color: hsl(115, 29%, 43%);*/
    /*border:none;*/

    background-color: var(--lightestGreen);
    border: 0.1em solid var(--darkGreen);
    color: var(--darkGreen);
}

/*Keyboard*/

.keyboard {
    display: grid;
    gap: 0.25em;
    grid-template-columns: repeat(20, minmax(auto, 1.25em));
    grid-auto-rows: 3em;
    justify-content: center;
}

/*Key*/

.key {
    font-size: inherit;
    font-weight: bold;

    /*background-color: hsl(
        var(--hue, 200),
        var(--saturation, 1%),
        calc(var(--lightness-offset, 0%) + var(--lightness, 51%))
    );*/
    /*color: white;*/
    /*fill: white;*/

    background-color: hsl(
        var(--hue, 73),
        var(--saturation, 84%),
        calc(var(--lightness-offset, 0%) + var(--lightness, 37%))
    );

    color: var(--darkestGreen);
    fill: var(--darkestGreen);

    text-transform: uppercase;

    /*border: none;*/
    border: 0.1em solid var(--darkestGreen);

    border-radius: 0.5em;

    grid-column: span 2;
    padding: 0;

    display: flex;

    align-items: center;
    justify-content: center;

    cursor: pointer;
    user-select: none;
}

.key.large {
    grid-column: span 3;   
}

.key > svg {
    width: 1.75em;
    height: 1.75em;
}

.key.wrong {
    /*--lightness: 23%;*/

    border: none;
    color: var(--lightGreen);

    --hue: 120;
    --saturation: 58%;
    --lightness: 14%;
}

.key.wrong-location {
    /*--hue: 49;
    --saturation: 51%;
    --lightness: 47%;*/

    border: none;
    color: var(--lightestGreen);

    --hue: 120;
    --saturation: 34%;
    --lightness: 29%;
}

.key.correct {
    /*--hue: 115;
    --saturation: 29%;
    --lightness: 43%;*/

    border: 0.15em solid var(--darkGreen);
    color: var(--darkGreen);

    --hue: 71;
    --saturation: 83%;
    --lightness: 40%;
}

.key:hover, .key:focus {
    --lightness-offset: 5%;

    border-color: var(--darkGreen);
}